html{
    scroll-behavior: smooth;
}
body{
    background-color:#fcfff1;
    
}

#Home,#Skills{
    scroll-margin: 100px;
    padding:5px;
}

nav a{
    text-decoration: none;
    padding: 20px;
    font-weight: 200;
    color: black;
    font-weight: bolder;
}

nav{
    position: fixed;
    background-color: #fcfff1;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    top: 0px;
    right: 0px;
    width: 4000px;
    justify-content: end;
    z-index: 2;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 
header{
    background-color: #fcfff1;
    height: 60px;
    display: flex;
    justify-content: end;
}



nav a:hover{
    background-color: blue;
    color: #fcfff1;
    border-radius: 30px;
    padding: 20px;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}

h1{
    
    margin: 10px;
    font-size: 90px;
    font-family: "Open Sans", sans-serif;
}

h2{
    text-align: center;
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
}



.myphoto{
    height: 500px;
    width: 500px;

}


.about,.content{
    color:blue;
    padding: 151px;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
}


.aboutme{
    border: 2px solid rgb(255, 185, 148);
    display: flex;
    justify-content: center;
    font-size: 40px;
    height: 150px;
    align-items: center;
    padding: 100px;
    border-radius: 20px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(255, 185, 148); 
    position: relative;
    bottom: 40px;  
}


.myskills{
    margin-top: 200px;
    font-size: 100px;
    color: blue;
    text-align: center;
    font-weight: 700;
    font-family:Arial, Helvetica, sans-serif;   
} 





.skill-section .wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.wrapper div{
    position: relative;
}

.wrapper div p{
    position:absolute;
    bottom: 200px;
    left: 150px;
    color:rgb(0, 191, 99);
    font-size: 70px;
    font-weight: 700;
}

.wrapper .CSS{
    left: 200px;
}
.wrapper .JS{
    left: 230px;
}
.contact{
    min-height: 90vh;
}

.contact a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:20px;
    border: 5px solid black;
    border-radius: 10px;
    padding: 30px;
    color: black;
}

.contact img{
    width: 50px;
}
.contact div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

}

.content{
    color:blue;
    padding: 151px;
    padding-bottom: 30px;
    font-size: 100px;
    font-family:Arial, Helvetica, sans-serif;
}